# Entornos virtuales
venv/
.venv/
env/
.env
bin/
include/
lib/
share/
pyvenv.cfg

# Node
node_modules/
dist/
build/
.npm
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.mypy_cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
